aside {
	width: var(--aside-width);
	height: calc(100vh - var(--header-height, 0));
	max-height: calc(100vh - var(--header-height, 0));
	
	padding: 10px;
	margin: calc(var(--header-height) + var(--small-gap)) 20px 0 0px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	background-color: var(--color-1);
}

aside .top {
	overflow: auto;
	margin-bottom: 40px;
	
    -ms-overflow-style: none;
    scrollbar-width: none;
}

aside.top::-webkit-scrollbar {
	display: none;
}

.user_info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	background-color: var(--color-1);
}

.user_info img {
	width: 150px;
	height: 150px;
	border-radius: 50%;

	margin: 10px
}

.user_info h2 {
	margin: 5px;
}
.user_info h3 {
	margin: 5px 0;
}

.user_info h3 {
    font-size: 1.1rem;
    font-weight: 500;
}

.user_info p {
    text-align: center;
    margin: 15px 0;
    line-height: 1.5rem;
    font-size: large;
    font-weight: 600;
}

.add_reminder {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.add_reminder ul {
	width: 100%;
	padding: var(--medium-gap);
	
	display: none;
	flex-direction: column;
	align-items: center;
	
	list-style: none;

	color: black;
    box-shadow: 1px 1px 6px 1px ;
    border-radius: 10px;
}

.add_reminder ul li {
	width: 100%;
	padding: var(--small-gap);
}

.add_reminder ul li button {

	width: 100%;
	background-color: transparent;
    box-shadow: 1px 1px 5px 1px black;
    color: black;

	display: flex;
	justify-content: flex-start;
    align-items: center;

    padding: 8px;

	border: 0;
}

.add_reminder ul li button:hover {
	background-color: var(--color-3);
	color: white;
}



.user_info button,
.aside_button {
	display: flex;
    align-items: center;
    justify-content: center;
	
	width: 100%;
	
	padding: 10px;
	margin: 10px 0;
	border-radius: 30px;
	
	background-color: var(--color-3);
	color: white;
	text-decoration: none;

	font-size: 1.1rem;
}

.add_reminder:hover ul {
	display: flex;
}

.material-symbols-outlined {
	display: inline-block;
}

button .material-symbols-outlined {
	margin-right: var(--small-gap);
}
