:root {
	--header-height: 70px;
	--card-height: 258px;
	--featured-ewall-height: 50px;
	
	--main-width: 800px;
	--card-width: 383px;
	--aside-width: 300px;
	
	--small-gap: 5px;
	--medium-gap: 10px;
	--large-gap: 20px;
	
	--color-1: #34495E  ;
	--color-2: #44647a69   ;
	--color-3: #2C3E50  ;
	--color-4: #44647a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body_container {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--large-gap);

	height: 100vh;

	background-color: var(--color-3);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	color: #ECF0F1  ;
	line-height: 1.3rem;

}

.main_container {
	position: relative;

	display: flex;
	gap: var(--large-gap);
	justify-content: space-between;
	align-items: stretch;
	flex-grow: 1;

	max-width: 100%;
	width: 1200px;
	margin: auto;

	overflow: hidden;
}

main {
	position: relative;

	/* display: flex; */
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: flex-start;

	width: calc(var(--main-width) + 20px);
	margin-right: 10px;
	
	background-color: var(--color-1);

	overflow: scroll;
	transition: opacity 0.3s ease-in-out;
}

main::-webkit-scrollbar {
    display: none;
}

main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 767px) {
	main {
		margin-left: 2rem;
	}
}

.material-symbols-outlined {
	display: inline-block;
}

button,
a,
input[type="submit"],
.cancel_icon {
	cursor: pointer;
}

/* For the loading indicator */
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
