:root {
	--header-height: 70px;
	--main-width: 800px;
	--card-width: 383px;
	--card-height: 258px;
	--aside-width: 300px;
	--small-gap: 5px;
	--medium-gap: 10px;
	--large-gap: 20px;
	
	--color-1: #34495E  ;
	--color-2: #44647a69   ;
	--color-3: #2C3E50  ;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-3);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: relative;
	
	display: flex;
	justify-content: center;
	color: #ECF0F1  ;
	line-height: 1.3rem;

}

.material-symbols-outlined {
	display: inline-block;
}

button,
a,
input[type="submit"],
.cancel_icon {
	cursor: pointer;
}
