:root {
	--header-height: 70px;
	--card-height: 258px;
	--featured-ewall-height: 50px;
	
	--main-width: 800px;
	--card-width: 383px;
	--aside-width: 300px;
	
	--small-gap: 5px;
	--medium-gap: 10px;
	--large-gap: 20px;
	
	--color-1: #34495E  ;
	--color-2: #44647a69   ;
	--color-3: #2C3E50  ;
	--color-4: #44647a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: var(--large-gap);

	height: 100vh;

	background-color: var(--color-3);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	color: #ECF0F1  ;
	line-height: 1.3rem;

}

.container {
	display: flex;
	gap: var(--large-gap);
	justify-content: space-around;
	align-items: stretch;
	flex-grow: 1;

	overflow: hidden;
}

.material-symbols-outlined {
	display: inline-block;
}

button,
a,
input[type="submit"],
.cancel_icon {
	cursor: pointer;
}
