header {
	width: 100%;

	background-color: var(--color-1);

	z-index: 20;
}

header .header_container {	
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: var(--header-height);
	max-width: 100%;
	width: 1200px;
	margin: auto;

	padding: 20px;
	padding-right: 0;
}

header a {
	text-decoration: none;
	color: inherit;
}

.left {
	display: flex;
	align-items: center;
}

.logo img {
	width: 9rem;
	margin-right: 10px;
}

header nav ul {
	height: var(--header-height);
	display: flex;
	list-style: none;
	align-items: center;
}

header nav ul li {
	margin-right: 10px;
	padding: 5px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 767px) {
	header nav {
		display: none;
	}
}

.profile_icon_section {
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

}

.profile_icon_section:hover .profile_dropdown {
	display: flex;
}

.profile_icon_section img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.profile_dropdown {
	display: none;
	flex-direction: column;

	position: absolute;
	top: 100%;
	right: var(--small-gap);
	
	background-color: var(--color-1);
	
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	width: 200px;
}

.profile_dropdown a {
	padding: 5px;
	display: flex;
	align-items: center;
}

.profile_dropdown a:hover {
	background-color: var(--color-3);
}

.profile_dropdown a span {
	margin-right: var(-small-gap);
}
.active {
	font-size: large;
    font-weight: 800;
}

header .search_bar_section {
	padding-right: .25rem;
}

header .search_bar_section .search_bar {
	position: relative;

	display: flex;
	align-items: center;
	gap: .75rem;

	height: 100%;
}

header .search_bar_section .search_bar .search_icon {
	height: 100%;
	width: 100%;

	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

header .search_bar_section .search_bar .search_icon:hover {
	transform: scale(1.1); 
}

header .search_bar_section .search_bar .search_input {
	position: absolute;
	left: 0;

	width: 200px; 
	padding: 0.5rem;
	border: none;
	outline: none;
	border-radius: 25px; 
	
	background: linear-gradient(135deg, var(--color-2), var(--color-3)); 
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
	
	color: white;
	font-size: 0.9rem;

	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	transform: scaleX(0) translateX(-100%);
	transform-origin: left;

	opacity: 0;
	z-index: 30;
}

header .search_bar_section .search_bar.expanded .search_input {
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
	
	opacity: 1;
	
	transform: scaleX(1) translateX(-100%);
}

header .search_bar_section .search_bar .search_input::placeholder {
	color: rgba(255, 255, 255, 0.7); 
	font-style: italic;
}
