
main {
	max-width: 550px;
}

.reminder {
	filter: none;
    padding: var(--medium-gap);
    background-color: var(--color-2);
    border-radius: 15px 15px 0 0;
}

.reminder .head {
	height: 50px;

	display: flex;
	align-items: center;

	margin-bottom: var(--large-gap);
}

.reminder .head img {
	width: 50px;
	height: 50px;

	border-radius: 50%;

	margin-right: var(--medium-gap);
}

.reflection_head,
.reminder_user_data {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reminder .user_name {
	display: flex;
	align-items: center;
	margin-bottom: var(--small-gap);
}

.name:hover,
.username:hover {
	text-decoration: underline;
	cursor: pointer;
	text-shadow: 0px 0px 3px white;
}

.reminder_user_data .name {
	margin-right: var(--small-gap);

	font-size: 1.3rem;
}

.reflection .username,
.reminder_user_data .username {
	letter-spacing: 1px;
}

.reminder_user_data .date {
	font-size: .9em;
}

.reminder_body {
	width: 100%;
	margin-bottom: var(--medium-gap);
}


.reminder .caption {
	font-family: Arial, Helvetica, sans-serif;
    margin: var(--small-gap);
    margin-bottom: var(--medium-gap);
    font-size: 1.1rem;
}

.image_reminder_content img {
	width: 100%;
	height: 100%;
    max-height: 550px;

	object-fit: contain;

}

.image_reminder_content,
.text_reminder_content {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 300px;

	color: black;
	background-color: var(--color-4);
}


.reminder hr {
	margin-bottom: var(--medium-gap);
}

.add_reflection {
	width: 100%
	height 70px;
	padding: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#reflection_text_input {
	background-color: var(--color-2);
	color: white;

	padding: 5px;
	margin-right: 20px;
	font-size: large;

	width: 100%;

	height: 100%;

	border-radius: 10px;
	box-shadow: 0 0 1px 0px white;
}

.add_reflection button {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: var(--medium-gap);
    border-radius: 10px;
    
	font-size: medium;

	color: white;
    background: var(--color-2);
    box-shadow: 0 0 7px 1px white;
}

.add_reflection button span {
	margin: 0;
}
.reflections {
	background-color: var(--color-2);
	border-radius: 0 0 10px 10px;
    padding-top: 15px;
}

.reflection {
	position: relative;

	padding: var(--medium-gap);
    margin: var(--medium-gap) var(--small-gap);

	background: var(--color-3);
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 4px 0px white;
}

.reflection .options {
	position: absolute;
	top: 20px;
	right: 20px;

	display: flex;
	align-items: center
}
.options span {
	display: flex;
}

.edit_icon {
	margin-left: var(--medium-gap);
}
.reflection_head {
	height: 50px;

	display: flex;
	align-items: center;

	margin-bottom: var(--large-gap);
}

.reflection_head img {
	height: 40px;
	width: 40px;

	margin-right: var(--small-gap);
	border-radius: 50%;
}

.reflection .user_name {
	display: flex;
	align-items: center;

	margin-bottom: var(--small-gap)
}

.reflection_user_data .name {
	margin-right: var(--small-gap);
	font-size: 1.2rem;
    font-weight: 500;
}

.reflection_head .date {
	font-size: .8em;
}

.reflection_text {
	font-family: Arial, Helvetica, sans-serif;
    margin: var(--small-gap);
    margin-bottom: var(--medium-gap);
	line-height: 1.5rem;
}

.edit_reflection_input {
	background-color: var(--color-2);
    color: white;

	padding: 5px;
	margin-bottom: var(--medium-gap);

	width: 100%;
    height: 100%;

    font-size: large;
    line-height: 1.3rem;

	border-radius: 10px;
    box-shadow: 0 0 1px 0px white;
}

.edit_reflection_form button {
	margin-right: var(--small-gap);
    padding: 11px;

	background: var(--color-2);

	border-radius: 10px;
    box-shadow: 0 0 6px -2px white;

	color: white;
    font-size: .9rem;
}

.edit_reflection_form button[type='submit'] {
	font-weight: bold;
    box-shadow: 1px 1px 7px -2px white;
}

.text_reminder_content p {
	margin: var(--small-gap);
    padding: var(--small-gap);

	line-height: 1.7rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
}
