.reminders_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	gap: 10px;

	padding: 10px;
}

@media (max-width: 370px) {
	.reminders_container {
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	}
}

.reminders_container article {
	position: relative;

	max-width: 100%;
	padding-top: 60%;
}

.reminders_container article .card_container {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.reminders_container .shown,
.reminders_container .hidden {
	width: 100%;
	height: 100%;
}

article,
.shown {
	position: relative;
	background-color: var(--color-2);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.reminder_image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

article:hover .shown,
.shown:hover {
	padding: 10px;
	filter: blur(2px);
}

.shown:hover p {
	font-size: small;
	color: white;
	font-weight: 100;
}

.hidden {
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	color: white;
    background-color: #354c5c69;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

article:hover .hidden {
	display: flex;
    opacity: 1;
}

.hidden_icons,
.lock_icon {
    color: white !important;
    background: var(--color-3);

	font-size: 1.7rem;

	position: absolute;

	width: 30px;
    height: 30px;

	display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.shown > .lock_icon {
	top: 20px;
    left: 20px;
    opacity: 1;
}

.hidden .menu_icon {
	top: 20px;
	right: 20px;
	z-index: 1;
	opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.magnify_icon {
	bottom: 20px;
	left: 20px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.shown p {
    margin: 5px;
    padding: 5px;
    line-height: 1.7rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    /* font-family: fantasy; */
    letter-spacing: 1px;
	transition: .3s;
}


.hidden .show_reminder {
	background-color: var(--color-3);
    padding: 8px;
    position: absolute;
    bottom: 16px;
    color: white;
    left: 60px;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hidden .reminder_options {
	list-style: none;

	background-color: var(--color-3);

	position: absolute;
	top: 50px;
	right: 20px;

	width: 30px;
	height: calc((3 * 30px) + 10px);

	padding: 10px 0;

	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hidden .caption {
    margin: 5px;
    padding: 5px;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.hidden:hover > * {
    opacity: 1;
}

.magnify_icon,
.menu_icon,
.reminder_options {
	cursor: pointer;
}


/* MAGNIFY IMAGE */

.fullscreen_container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

	width: 100%;
	max-width: 100%;
	height: calc(100% - var(--header-height));
	display: none;
	justify-content: center;
	align-items: center;

	z-index: 9999;
}

.fullscreen_container > * {
	display: none;
}

.fullscreen_container img {
	margin: 20px;
	padding: 20px;
	max-width: 100%;
	max-height: 100vh;

	object-fit: contain;
}

.fullscreen_container p {
	background: #2f4f4fb3;
    font-size: 2em;
    font-weight: 600;
    line-height: 3.7rem;

	padding: 39px;
    width: fit-content;
    height: fit-content;
    color: #dddddd;
    font-family: monospace;
    border-radius: 15px;
}
/* 
********** TODO ********

I beleive this whole naming should be changed later
Changed took place that affected the meaning of these names
+ it's not descriptive anyway.

I 'm just rushing abit now
 */
.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 15px;
}

.quote {
	position: sticky;
	top: .5rem;

	text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.3;
	text-shadow: 1px 1px 1px black;

    padding: 5px;
	margin: 15px;

	color: black;
	background: var(--color-2);


	border-radius: 15px 2px 15px 2px;
    box-shadow: 3px 4px 6px 1px black;

	z-index: 10;
}

@media (max-width: 767px) {
	.quote {
		font-size: 1.3rem;
		line-height: 1.2;
	}
}

.welcome .message {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
	margin-top: 20px;
    margin-bottom: 15px;
}

.welcome .buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.welcome .buttons > span {
	font-size: 1.2rem;
    margin: 0 23px;
}
.welcome button {
    padding: 9px 13px;
    font-size: 1.1rem;
    border-radius: 10px;
    background: var(--color-4);
    color: white;

}
