<aside>
	<div class="user_info">
		<img src="{{ user.img_url }}" alt="">

		<h2 class="user_full_name">{{ user.first_name }} {{ user.last_name }}</h2>
		<h3 class="username">@{{ user.user_name }}</h3>

		<p class="user_description">
			{{ user.description }}
		</p>

		<button type="button" class="edit_profile" onclick="alert('You can\'t fake your identity here...\nAt least for now.. \nBut if you insest.\n Here is an insider bug.\ngo to /finalize_profile and fill the form. \n\nHey, Keep it a secret')">
			<span class="material-symbols-outlined">
				edit
			</span>
			Edit profile
		</button>
	</div>
	<div class="add_reminder">
		<ul class="choose_reminder_type">
			<li>
				<button type="button" class="add_image_reminder_button">
					<span class="material-symbols-outlined">
						image
					</span>
					Image Reminder
				</button>
			</li>
			<li>
				<button type="button" class="add_text_reminder_button">
					<span class="material-symbols-outlined">
						text_fields
					</span>
					Text Reminder
				</button>
			</li>
		</ul>
		<button type="button" class="aside_button">
			<span class="material-symbols-outlined">
				add
			</span>
			Add reminder
		</button>
	</div>
</aside>
