<aside>
	<div class="top">
		<div class="user_info">
			{% if profile_owner %}
			<img src="{{ profile_owner.img_url }}" alt="">

			<h2 class="user_full_name">{{ profile_owner.first_name }} {{ profile_owner.last_name }}</h2>
			<h3 class="username">@{{ profile_owner.user_name }}</h3>

			<p class="user_description">
				{{ profile_owner.description }}
			</p>
			{% else %}
			<img src="{{ user.img_url }}" alt="">

			<h2 class="user_full_name">{{ user.first_name }} {{ user.last_name }}</h2>
			<h3 class="username">@{{ user.user_name }}</h3>

			<p class="user_description">
				{{ user.description }}
			</p>
			{% endif %}
			<div class="streaks">
				<div>
					<p class="text">Current Streaks</p>
					<p class="value">{{ user.current_streak.days}}</p>
				</div>
				<div>
					<p class="text">Longest Streak</p>
					<p class="value">{{ user.longest_streak.days }}</p>
				</div>
			</div>
			{% if not profile_owner %}
			<button type="button" class="edit_profile"
				onclick="alert('You can\'t fake your identity here...\nAt least for now.. \nBut if you insest.\n Here is an insider bug.\ngo to /finalize_profile and fill the form. \n\nHey, Keep it a secret')">
				<span class="material-symbols-outlined">
					edit
				</span>
				Edit profile
			</button>
			{% endif %}
		</div>
		<section class="featured_ewalls">
			<h3>Featured Elements</h3>
			<div class="ewall">
				<div>
					<img src="../static/images/profile_placeholder.png" alt="">
					<div>
						<h4>Loay</h4>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, aliquam qui! Temporibus voluptatum ipsum animi ducimus dolore eveniet a dolorem quaerat perferendis at maiores labore omnis, et, ex excepturi doloremque.</p>
					</div>
				</div>
				<img src="../static/images/profile_placeholder.png" alt="">
				<div class="ewall_info">
					<h4 class="ewall_name"><a href="#">ALX-OGs' Whys</a></h4>
					<p class="ewall_description">Some of the OGs of ALX answering WHY and HOW questoins by C-2-bleneded
						studensts</p>
				</div>
			</div>
			<div class="ewall">
				<img src="../static/images/profile_placeholder.png" alt="">
				<div class="ewall_info">
					<h4 class="ewall_name"><a href="#">Loay Al-Said</a></h4>
					<p class="ewall_description">RemindMe deveolper and Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Ut nisi necessitatibus mollitia corporis quisquam</p>
				</div>
			</div>
			<div class="ewall">
				<img src="../static/images/profile_placeholder.png" alt="">
				<div class="ewall_info">
					<h4 class="ewall_name"><a href="#">Loay Al-Said</a></h4>
					<p class="ewall_description">RemindMe deveolper and Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Ut nisi necessitatibus mollitia corporis quisquam</p>
				</div>
			</div>
		</section>
	</div>
	<div class="add_reminder">
		<ul class="choose_reminder_type">
			<li>
				<button type="button" class="add_image_reminder_button">
					<span class="material-symbols-outlined">
						image
					</span>
					Image Reminder
				</button>
			</li>
			<li>
				<button type="button" class="add_text_reminder_button">
					<span class="material-symbols-outlined">
						text_fields
					</span>
					Text Reminder
				</button>
			</li>
		</ul>
		<button type="button" class="aside_button">
			<span class="material-symbols-outlined">
				add
			</span>
			Add reminder
		</button>
	</div>
</aside>
