<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Complete profile</title>
	<link rel="stylesheet" href="../static/styles/finalize_profile.css">
    <script src="../static/scripts/finalize_profile.js" defer></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
          <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
	<main>
        <div class="logo-container">
            <img src="../static/images/RemindMe_logo.png" alt="RemindMe Logo" class="logo">
        </div>
        
        <div class="welcome-container">
            <h1>Welcome {{user.first_name }}</h1>
            <h4>Let's finish your profile</h4>
        </div>
        
		<form action="{{ url_for('auth.finalize_profile') }}" method="POST" enctype="multipart/form-data" id="profile-form">
            {{ form.hidden_tag() }}

            <div class="form-container">
                <div class="top_container">
                    <div class="left">
                        <div class="username">
                            {{ form.username.label(class="label") }}
                            {{ form.username(value=user.user_name, class="input", required=True, minlength="3") }}
                            <span class="error-message" id="username-error"></span>
                        </div>
                        <div class="gender">
                            {{ form.gender.label(class="label") }}
                            <ul>
                                {% for subfield in form.gender %}
                                    <li>
                                        {{ subfield }}
                                        {{ subfield.label }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <img class="profile_image" src="../static/images/profile_placeholder.png" alt="Profile Image">
                        {{ form.image(onchange="loadFile(event)", accept="image/*") }}
                        <label for="image" class="button">Upload Photo</label>
                    </div>
                </div>
                <div class="bottom_container">
                    {{ form.description.label(class="label") }}
                    {{ form.description(rows=2, class="input", maxlength="500", placeholder="Tell us a bit about yourself...") }}
                    
                    <button type="submit" class="button" id="submit-btn">{{ form.submit.label.text }}</button>
                </div>
            </div>
		</form>
	</main>
</body>
</html>
