<header>
	<div class="header_container">
		<div>
			<div class="logo">
				<a href="{{ url_for('users.user_profile') }}">
					<img src="../static/images/RemindMe_logo.png" alt="RemindMe Logo">
				</a>
			</div>
		</div>
		<nav aria-label="Main navigation">
			<ul>
				{%if public_ewall %}
				<li class="active"><a href="{{ url_for('users.public_reminders') }}">Public reminders</a></li>
				<li><a href="{{ url_for('users.user_profile') }}">Your reminders</a></li>
				{% elif user_reminders %}
				<li><a href="{{ url_for('users.public_reminders') }}">Public reminders</a></li>
				<li class="active"><a href="{{ url_for('users.user_profile') }}">Your reminders</a></li>
				{% else %}
				<li><a href="{{ url_for('users.public_reminders') }}">Public reminders</a></li>
				<li><a href="{{ url_for('users.user_profile') }}">Your reminders</a></li>
				{% endif %}
			</ul>
		</nav>

		<div class="left">
			<div class="search_bar_section">
				<div class="search_bar" aria-expanded="false">
					<input type="text" placeholder="Search for username" class="search_input" aria-label="Search for username">
					<span class="material-symbols-outlined search_icon icon" tabindex="0" role="button" aria-label="Search">
						search
					</span>
				</div>
			</div>
			<div class="profile_icon_section">
				<img src="{{ user.img_url }}" alt="User profile picture">
				<div class="profile_dropdown" role="menu">
					<a href="{{ url_for('users.user_profile') }}" role="menuitem">
						<span class="material-symbols-outlined">
							person
						</span>
						My Profile
					</a>
					<a href="{{ url_for('auth.logout') }}" role="menuitem">
						<span class="material-symbols-outlined">
							logout
						</span>
						Log Out
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
