<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
  <link rel="manifest" href="../static/site.webmanifest">
	{% block title %}{% endblock %}
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}

</head>
<body>
  <div class="body_container">
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %} -->
    {% block content %}{% endblock %}
  </div>

</body>
</html>
