{% extends "layout.html" %}

{% block title %}
	<title>Log In</title>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/authentication_form.css">
	<link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block content %}
	<main class="auth-main login-main">
		<div class="logo-container">
            <img src="../static/images/RemindMe_logo.png" alt="RemindMe Logo" class="logo">
        </div>
        
		<div class="welcome-container">
			<p class="auth-tagline login-tagline">Welcome back to your daily reminders</p>
		</div>
        
		<div class="form-container">
			<form action="{{ url_for('auth.login', next=request.args.get('next')) }}" method="POST">
				{{ form.hidden_tag() }}
				{{ form.username_or_id(class="input", id="username", placeholder="Email/Username") }}
				{{ form.password(class="input", id="password", placeholder="Password") }}
				<div class="side">
					<a href="#" class="forgot-password">Forgot your password?</a>
				</div>
				{{ form.submit(class="submit") }}
			</form>
		</div>
		<p class="footnote">Don't have an account? <strong class="join_us"><a href="{{ url_for('auth.register') }}">Join Us</a></strong></p>
	</main>
{% endblock %}
</body>
</html>
