{% extends "layout.html" %}
{% block title %}
<title>User Registration</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/authentication_form.css">
<link rel="stylesheet" href="../static/register.css">
{% endblock %}

{% block content %}
    <main>
        <h1>RemindMe</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit possimus sequi deserunt.</p>
        <form action="{{ url_for('auth.register') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="names">
                {{ form.first_name(class="input", placeholder="First name") }}
                {{ form.last_name(class="input", placeholder="Your Last name") }}
            </div>
            {{ form.email(class="input", placeholder="Type your Email") }}
            {{ form.password(class="input", placeholder="And...  a password") }}
            <div class="side">
                <input type="checkbox" id = "terms_check" name="terms_check" required>
                <label for="terms_check" class="terms">
                    Just keep it safe and productive.
                </label>
            </div>
            {{ form.submit(class="submit") }}
        </form>
        <p class="footnote">Got an account? <strong class="join_us"><a href="{{ url_for('auth.login') }}">Log In</a></strong></p>
    </main>
{% endblock %}
